body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 500px;
  margin: 20px auto;
}
.form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}
.input:focus {
  outline: none;
}
.add {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.tasks {
  background-color: #eee;
  margin-top: 10px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
  margin: 15px 0;
}
.tasks .task:hover {
  background-color: #008f7a;
  transition: 0.5s;
  color: white;
  filter: drop-shadow(2px 4px 6px grey);
}
.tasks .task.done {
  opacity: 0.5;
  border-color: white;
  background-color: grey;
  color: white;
  transition: 0.5s;
}
.tasks .task.done:hover {
  opacity: 0.85;
}
.tasks .task span,
.container .clear {
  font-weight: bold;
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.container .clear {
  font-size: 18px;
}
.container .clear:hover {
  filter: drop-shadow(5px 2px 5px grey);
}
